<div class="row">
	<div class="span10">
		<table class="table table-condensed table-striped">
			<legend>Ingredients</legend>
			<thead>
				<tr>
					<th>Ingredient Name</th>
					<th>Bottle</th>
					<th>Available</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<%@ingredients.each do |ingredient|%>
					<tr>
						<td><%=ingredient.name%></td>
						<td><%=ingredient.bottle.to_s%></td>
						<td><%=ingredient.available.to_s%></td>
						<td><%=link_to 'Edit', edit_ingredient_path(ingredient)%> | <%=link_to 'Delete', ingredient_path(ingredient), :method=>:delete%> </td>
					</tr>
				<%end%>
			</tbody>
		</table>
	</div>
	<div class="span2"></div>
</div>

<div class="row">
	<div class="span12">
		<%=form_for @ingredient, :html=>{:class=>'form-horizontal'} do |f|%>
			<%if @ingredient.new_record?%>
				<legend>Add an Ingredient</legend>
			<%else%>
				<legend>Edit an Ingredient</legend>
			<%end%>
			
			<fieldset>
				<div class="control-group">
					<%=f.label :name, "Name", :class=>'control-label'%>
					<div class="controls">
						<%=f.text_field :name, :class=>'input-xlarge'%>
					</div>
				</div>
				<div class="control-group">
					<%=f.label :bottle, "Bottle", :class=>'control-label'%>
					<div class="controls">
						<%bottle_range = 1..@machine.bottle_count%>
						<%=f.select :bottle, options_for_select(bottle_range.to_a, @ingredient.bottle), {:include_blank=>true}, :class=>"span1"%>
					</div>
				</div>
				<%=f.submit nil, :class=>'btn btn-primary'%>
			</fieldset>
		<%end%>
	</div>
</div>