<div class="row">
	<div class="span12">
		<%=form_for @machine do |f|%>
			<legend>Machine Status</legend>
			<label class="inline checkbox">
				<%=f.check_box :active, :class=>'checkbox'%>
				Active?
			</label>
			<%=f.label :ip_address, 'IP Address'%>
			<%=f.text_field :ip_address, :class=>'input-large'%>
			<%=f.submit nil, :class=>'btn btn-primary'%>
		<%end%>
	</div>
</div>