<%=render :partial=>'machine_status'%>

<%=form_tag machines_path, :method=>:put, :class=>'form-inline' do%>
  <fieldset>
    <div class="control-group">
      <%=label_tag :ip_address, 'Spout IP Address', :class=>'control-label'%>
      <div class="controls">
        <%=text_field_tag :ip_address, @machine.ip_address, :html=>{:class=>'input-xlarge'}%>
      </div>
    </div>
    <%=submit_tag 'Update', :class=>'btn btn-primary'%>
  </fieldset>
<%end%>