<div class="row">
	<div class="span12">
		<p><%=link_to 'Add a new drink', new_drink_path%></p>
		<legend>Drink Recipes</legend>
		<table class="table table-condensed table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Ingredients</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<%@drinks.each do |drink|%>
					<tr>
						<td><%=link_to drink.name, drink_path(drink)%></td>
						<td><%=drink.ingredients.collect{|i| i.name}.join(', ').to_s%></td>
						<td>
							<%=link_to "Edit", edit_drink_path(drink)%> | <%=link_to "Delete", drink_path(drink), :method=>:delete%>
						</td>
					</tr>
				<%end%>
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="span12">
		<ul class="thumbnails">
			<%@drinks.each do |drink|%>
				<li>
					<div class="thumbnail">
						<%=link_to image_tag(drink.image_url.to_s), drink_path(drink)%>
						<p><h4><%=drink.name%></h4></p>
					</div>
				</li>
			<%end%>
		</ul>
	</div>
</div>